table { 
	table-layout: fixed;
 }

body {

}

.container {
	background-color: black;
}

.team1 {
	color: #00AAE3;
	font-size: 30px;
}

.team2 {
	color: red;
	font-size: 30px;
}

.map {
	text-align: center;
	color: white;
	padding-bottom: 20px;
}

.frags {
	color: green;
}

.assist {
	color: cyan;
}

.death {
	color: red;
}

.player {
	color: orange;
}

.kd {
	color: white;
}

.hs {
	color: white;
}

.text_color {
	color: white;
}

.team_a_name {
	color: white;
	width: 320px;
	overflow: hidden;
}

.team_b_name {
	color: white;
	width: 320px;
	overflow: hidden;
}

.score {
	font-size:26px;
	padding-top: 20px;
}

/* Totals */

.total {
	color: white;
	font-weight: bold;
}

.total_kills {
	color: white;
}

.total_assist {
	color: white;
}

.total_death {
	color: white;
}

.team_a_name img {
	margin-left: 5px;
	width: 8%;
	margin-bottom: 2px;
}

.team_b_name img {
	margin-left: 5px;
	width: 8%;
	margin-bottom: 2px;
}

.weapon {
	color: white;
}

.weapon img {

}

/*Round colors*/

.round_team_a {
	background-color: #00AAE3 !important;
	border-right: 1px solid #16222c; 
    z-index: 100;
}

.round_team_b {
	background-color: red !important;
	border-right: 1px solid #16222c; 
    z-index: 100;
}

.round_halftime {
	background-color: yellow !important;
	border-right: 1px solid #16222c; 
    z-index: 100;
}